# Compiled class files
*.class

# Log files
*.log


# Package Files #
*.jar
*.war
*.ear


# Maven
/target/
!*/src/main/**/application.yml
!*/src/test/**/application.yml


# Eclipse
.classpath
.project
/.settings/

# IntelliJ
.idea/
*.iml
*.iws


# OS files
.DS_Store
Thumbs.db

# Sensitive files
*.keystore
*.jks

# Others
/.mvn/wrapper/maven-wrapper.jar
